body{
    background-color: darkgray;
}

.container{
    background-color: #dddddd;
    color: white;
    width: 300px;
    height: 150px;
    position: relative;
}

#div-1{
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    left:0;
    top:0;
}

#div-2{
    background-color: green;
    width: 100px;
    height: 100px;
    position: absolute;
    left:50px;
    top:10px;
    z-index: 1;
}

#div-3{
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 100px;
    top: 20px;
}