
body{
    background-color: darkgrey;
}

.container{
    background-color: #dddddd;
    color: white;
    width: 500px;
    height: 500px;
}

#div-1{
    background-color: red;
    width: 100px;
    height: 100px;
}

#div-2{
    background-color: green;
    width: 100px;
    height: 100px;
    position: relative;
    left: 60px;
    top: 60px;
}


#div-3{
    background-color: blue;
    width: 100px;
    height: 100px;
}

#div-2{
    background-color: green;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    }

.container{
    position: relative;
}    

body{
    height: 400vh;
}
#div-2{
    position: fixed;
    top: 20px;
    right: 20px;

}
